@model MIS421_FinalProject.Models.Document

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Employees</h6>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.docName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.docName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.uploadDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.uploadDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Size)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Size)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.verified)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.verified)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.content)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.content)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.empID)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.empID)
                </dd>
            </dl>
        </div>
    </div>
</div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.docID">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
