@model IEnumerable<MIS421_FinalProject.Models.Document>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.docName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.verified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.docName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.verified)
            </td>
            <td>
                @if (item.content != null)
                {
                    var base64 = Convert.ToBase64String(item.content);
                    var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                    <img src ="@imgSrc" height="200" width="200" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.docID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.docID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.docID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
