@model MIS421_FinalProject.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.deptName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.deptName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.deptAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.deptAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.deptCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.deptCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.deptState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.deptState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.deptZip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.deptZip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.deptCountry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.deptCountry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.deptID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
